#contact {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:3rem;

  padding:8rem 7.5rem 12.5rem 7.5rem;

  background:url(../assets/imgs/Background_Contacts.png) no-repeat center/cover;

  & .about {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0.5rem;

    & h2 {
      font:var(--subtitle);
      color:var(--purple);
    }
    & span{
      font:var(--title-md);
    }
    & p {
      font:var(--text-md);
      color:var(--gray-500);
    }
  }
}

@media (max-width:425px) {
  #contact {
    padding-inline:2rem;
  }
}

.social-box {
  display:flex;
  flex-direction:column;
  gap:1rem;

  width:100%;
  max-width:25rem;

  & .btn-social {
    display:flex;
    align-items:center;
    gap:0.75rem;

    padding:1.25rem;

    background-color:var(--gray-300);
    border:1px solid transparent;
    border-radius:8px;

    text-decoration:none;
    color:var(--gray-500);

    transition:border-color .2s ease-in;
    
    & i:last-child {
      margin-left:auto;
    }

    &:hover {
      border-color:var(--blue);
    }

    & i {
      transition:filter .2s ease-in;
    }

    &:hover i {
      filter: brightness(0) saturate(100%) invert(50%) sepia(46%) saturate(633%) hue-rotate(163deg) brightness(97%) contrast(103%);
    }
  }
}